# Python cache
__pycache__/
*.pyc

# Virtual environments
mujoco_rl/
venv/

# Trained models
*.zip

# Logs / results
results/
*.mp4
*.png
*.csv
ppo_nav_tensorboard/

# System files
.DS_Store
Thumbs.db
